{% extends 'shared/layout.html' %}
{% load render_partial %}


{% block titile %}
    تغییر کلمه عبور
{% endblock %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% render_partial 'userPanelModule.views.userPanelMenuPartial' %}
            </div>


            <div class="col-md-8">

                <form action="{% url 'changePasswordPage' %}" method="post">
                    {% csrf_token %}
                        <div class="col-md-offset-6 form-group">
                            {{ form.currentPassword }}
                            {{ form.currentPassword.errors }}
                        </div>
                        <div class="col-md-offset-6 form-group">
                            {{ form.password }}
                            {{ form.password.errors }}
                        </div>
                        <div class="col-md-offset-6 form-group">
                            {{ form.confirmPassword }}
                            {{ form.confirmPassword.errors }}
                        </div>

                    <button type="submit" class="btn btn-success">ثبت</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}