{% extends 'shared/layout.html' %}

{% block titile %}ورود به حساب کاربری{% endblock %}

{% block content %}
    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-6 col-lg-offset-3">
                    <div class="login-form"><!--login form-->
                        <h2>ورود به حساب کاربـری :</h2>
                        <form method="post" action="{% url 'loginPage' %}">
                            {% csrf_token %}

                            {{ loginForms.email }}
                            {{ loginForms.email.errors }}
                            {{ loginForms.password }}
                            {{ loginForms.password.errors }}

                                <p><a href="{% url 'forgetPassPage' %}">فراموشی کلمه عبور</a></p>
                            <button type="submit" class="btn btn-default">ورود</button>
                        </form>
                    </div><!--/login form-->
                </div>
            </div>
        </section>
    </div>

{% endblock %}